@tailwind base;
@tailwind components;
@tailwind utilities;

input{
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

@layer utilities{
  .background-gradient{
    background-image: linear-gradient(to right, #1f1f1f, #232323, #272727, #2b2b2b, #2f2f2f, #2f2f2f, #2f2f2f, #2f2f2f, #2b2b2b, #272727, #232323, #1f1f1f);  }
}